.logo {
  height: 40px;
  margin-right: 15px; /* Espacio entre la imagen del logo y el título */
}

.toolbar {
  background-color: #2196F3; /* Color azul claro */
  color: white;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 30px;
  justify-content: space-between;
}

.project-name {
  font-size: 24px;
  font-weight: bold;
}

.toolbar-buttons {
  margin-left: auto;
}

.toolbar-button {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  margin-left: 10px;
  border-radius: 4px;
}

.toolbar-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
