<app-header></app-header>
<div *ngIf="display1">
  <img src="../../../../assets/imgs/forgot-password.png" alt="" />

  <h1>Forgot Your Password?</h1>
  <form mat action="" class="card">
    <mat-form-field>
      <input matInput placeholder="Email address" #email />
    </mat-form-field>
    <button mat-raised-button color="primary"
      (click)="getInputValue(email.value)">
      Continue
    </button>
    <p>
      No Account Yet? <a [routerLink]="'/signup-p1'"><u>Create Account</u></a>
    </p>
  </form>
</div>

<app-footer></app-footer>
