<app-header-c></app-header-c>
<h1>Contract accepted!</h1>
<mat-grid-list class="card" cols="2"  rowHeight="80%">


    <mat-grid-tile
        [colspan]="1"
        [rowspan]="1"
        [style.background]="'transparent'">
        <div class="card">
            <h2>Details</h2>
            <div class="card-group">
                <div class="contract-information">
                  <mat-card class="card">
                    <br><br>
                    <mat-card-title>Subject: {{pendingcontract.subject}}</mat-card-title>
                    <mat-card-subtitle>
                      <strong></strong>
                    </mat-card-subtitle>
                    <mat-card-content>
                      <div>
                        <p>
                          From <strong>{{pendingcontract.from}} </strong>
                        </p>
                        <p>
                          To: <strong>{{pendingcontract.to}}</strong>
                        </p>
                        <p>
                          Date: <strong> {{pendingcontract.date}}</strong>
                        </p>
                        <p>
                          Time:
                          <strong>
                            {{pendingcontract.timeDeparture}} - {{pendingcontract.timeArrival}}
                            </strong
                          >
                        </p>
                        <p>
                            Type: <strong>{{pendingcontract.subject}}</strong>
                        </p>
                        <p>
                            Contract ID: <strong>{{pendingcontract.id}}</strong>
                        </p>
                      </div>
                      <hr />
                      <br>
                      <div class="client-price">
                        <strong>Client data</strong>
                        <strong style="text-align: center">Amount:</strong>
                        <div class="client">
                          <img
                            src="https://i.postimg.cc/jdT1LDZn/client.png"
                            alt="Profile"
                            class="profile-img"
                          />
                          <div style="flex-grow: 2">
                            <strong>Oscar</strong><span></span>
                            <div class="phoneclient">Phone: 994683291</div>
                          </div>
                        </div>
                        <div class="price">S/. {{pendingcontract.amount}} </div>
                      </div>
                      <br>
                    </mat-card-content>
                  </mat-card>
                </div>
              </div>
        </div>


    </mat-grid-tile>

    <mat-grid-tile
        [colspan]="1"
        [rowspan]="1"
        [style.background]="'transparent'">
        <div class="card">
            <h2>Payments Details</h2>
            <div class="card-group-pay">
                <div class="contract-information">
                  <div class="payment-details inline">
                    <mat-card class="card-pay">
                        <form class="cc-form" [formGroup]="form">
                          <div class="title-detalle">Card number</div>

                            <mat-form-field class="ngx-cc-form-field card-number">

                              <ngx-cc maxlength="16" name="cardNumber" styleClass="card-number" formControlName="creditCard"></ngx-cc>

                              <input 0000 0000 0000 0000 />
                              <mat-error *ngIf="creditCard?.invalid">Card number is not valid</mat-error>
                            </mat-form-field>
                            <div class="cc-date-cvv-container">
                              <div class="title-detalle">Expiration date</div>

                              <mat-form-field class="ngx-cc-form-field">
                                  <ngx-cc-date formControlName="creditCardDate"></ngx-cc-date>
                                  <input
                                    matInput
                                    placeholder=" MM / YY" />
                                  <mat-error *ngIf="creditCardDate?.invalid">Expiration date is not valid</mat-error>
                              </mat-form-field>
                              <div class="title-detalle">CVV</div>

                              <mat-form-field class="ngx-cc-form-field">
                                  <ngx-cc-cvv formControlName="creditCardCvv"></ngx-cc-cvv>
                                <input
                                  matInput
                                  placeholder="CVV"
                                />
                                  <mat-error *ngIf="creditCardCvv?.invalid">Security code is not valid</mat-error>
                              </mat-form-field>
                            </div>

                          </form>
                    </mat-card>

                </div>
                </div>
                <div class="buttons-pay">
                    <button mat-raised-button color="accent" >
                      Pay
                    </button>
                </div>
                <div class="buttons-cancel">
                    <button mat-raised-button color="accent" >
                      Cancel
                    </button>
                </div>
              </div>

            </div>

    </mat-grid-tile>

</mat-grid-list>
<app-footers></app-footers>
